{{!-- thư viện import exel --}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.8.0/xlsx.js">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.8.0/jszip.js">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.10.8/xlsx.full.min.js">
</script>

<div class="wrapper-content">
    <!--Make list student-->
    <div class="list-student">
        <!-- Table -->
        <div class="table-student" ; style="overflow-x:auto;">
            <h1>Danh sách sinh viên</h1>
            <table>
                <thead>
                    <tr>
                        <th>Nhóm</th>
                        <th>Mã số sinh viên</th>
                        <th>Họ và tên</th>
                        <th>Email</th>
                        <th>Tên đề tài</th>
                        <th>Mã học phần</th>
                        <th>Tên học phần</th>
                        <th>Học kỳ</th>
                        <th>Ngày sinh</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each list_student}}
                    <tr>
                        <td>{{this.group_id}}</td>
                        <td>{{this.student_id}}</td>
                        <td>{{this.fullname}}</td>
                        <td>{{this.email}}</td>
                        <td>{{this.projectname}}</td>
                        <td>{{this.coursecode}}</td>
                        <td>{{this.coursename}}</td>
                        <td>{{this.term}}</td>
                        <td>{{this.birthday}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
        <div class="container">
            <form action="/list/importexcel" method="POST" class="formok">
                
            </form>
        </div>
        <!-- Function button -->
        <div class="list-button">
            <a href="#"><i class="fa-solid fa-edit"></i> Sửa</a>
            <a href="#"><i class="fa-solid fa-floppy-disk"></i>Lưu</a>
            <a href=""><label for="file"><i class="fa-solid fa-file-import"></i>Import Excel</label></a>
            <a href="#"><i class="fa-solid fa-user-plus"></i>Thêm sinh viên</a>
            <input type="file" name="file" id="file" class="inputfile" ng-modal="csvFile" />
        </div>
    </div>
    <!--End make list student-->
</div>