<div class="wrapper-content">
    <div class="calendar">
        <div class="calendar-toolbar">
            <div class="toolbar-start">
                <div class="today">
                    <button class="btn-tool btn-today ">
                        <i class="mr-8 fa-solid fa-location-dot"></i>
                        Hôm nay
                    </button>
                </div>
                <div class="prev-week">
                    <button class="btn-tool btn-prev-week ">
                        <i class="fa-solid fa-angle-left"></i>
                    </button>
                </div>
                <div class="next-week">
                    <button class="btn-tool btn-next-week ">
                        <i class="fa-solid fa-angle-right"></i>
                    </button>
                </div>
                <div class="change-time">
                    <input class="btn-change-week">
                    </input>
                </div>
            </div>

            <div class="toolbar-end">
                <div class="change-display">
                    <button class="btn-tool ">
                        <i class="fa-solid fa-calendar-week"></i>
                        <span class="mside-8 display-time">Tuần</span>
                        <i class="fa-solid fa-angle-down"></i>
                    </button>
                </div>
            </div>
        </div>

        <div class="calendar-content">
            <div class="row-date">
                <div class="box-space">
                    <button class="btn-tool btn-display-border">
                        <i class="fa-regular fa-clipboard"></i>
                    </button>
                </div>
                <div class="col box-date">
                    <span class="text-date"></span>
                    <span class="text-day">Thứ 2</span>
                </div>
                <div class="col box-date">
                    <span class="text-date"></span>
                    <span class="text-day">Thứ 3</span>
                </div>
                <div class="col box-date">
                    <span class="text-date"></span>
                    <span class="text-day">Thứ 4</span>
                </div>
                <div class="col box-date">
                    <span class="text-date"></span>
                    <span class="text-day">Thứ 5</span>
                </div>
                <div class="col box-date">
                    <span class="text-date"></span>
                    <span class="text-day">Thứ 6</span>
                </div>
                <div class="col box-date">
                    <span class="text-date"></span>
                    <span class="text-day">Thứ 7</span>
                </div>
                <div class="col box-date">
                    <span class="text-date"></span>
                    <span class="text-day">Chủ nhật</span>
                </div>
            </div>
            <div class="table-timeline">
                <div class="timeline">
                    <div class="col-time">
                        <div class="time-marker">
                            <span class="time-marker-text">7 AM</span>
                        </div>
                        <div class="time-marker">
                            <span class="time-marker-text">8 AM</span>
                        </div>
                        <div class="time-marker">
                            <span class="time-marker-text">9 AM</span>
                        </div>
                        <div class="time-marker">
                            <span class="time-marker-text">10 AM</span>
                        </div>
                        <div class="time-marker">
                            <span class="time-marker-text">11 AM</span>
                        </div>
                        <div class="time-marker">
                            <span class="time-marker-text">12 AM</span>
                        </div>
                        <div class="time-marker">
                            <span class="time-marker-text">1 PM</span>
                        </div>
                        <div class="time-marker">
                            <span class="time-marker-text">2 PM</span>
                        </div>
                        <div class="time-marker">
                            <span class="time-marker-text">3 PM</span>
                        </div>
                        <div class="time-marker">
                            <span class="time-marker-text">4 PM</span>
                        </div>
                        <div class="time-marker">
                            <span class="time-marker-text">5 PM</span>
                        </div>
                        <div class="time-marker">
                            <span class="time-marker-text">6 PM</span>
                        </div>
                    </div>
                </div>
                <div class="col works" name="monday" date="">
                    {{#each data}}
                    <button class="event" date="{{formatDate this.starttime}}" startTime="{{formatTime this.starttime}}"
                        endTime="{{formatTime this.endtime}}" id="{{this.meeting_id}}">
                        <div class="content">
                            <p class="title">{{this.projectname}} #{{getMeetingSerial this.meeting_id}}</p>
                            <p class="info">{{this.coursename}} - {{getGroupName this.group_id}}</p>
                            <p class="time">{{formatDisplayTime this.starttime this.endtime}}</p>
                        </div>
                    </button>
                    {{/each}}
                    <div class="work-box" time="7"></div>
                    <div class="work-box" time="7.5"></div>
                    <div class="work-box" time="8"></div>
                    <div class="work-box" time="8.5"></div>
                    <div class="work-box" time="9"></div>
                    <div class="work-box" time="9.5"></div>
                    <div class="work-box" time="10"></div>
                    <div class="work-box" time="10.5"></div>
                    <div class="work-box" time="11"></div>
                    <div class="work-box" time="11.5"></div>
                    <div class="work-box" time="12"></div>
                    <div class="work-box" time="12.5"></div>
                    <div class="work-box" time="13"></div>
                    <div class="work-box" time="13.5"></div>
                    <div class="work-box" time="14"></div>
                    <div class="work-box" time="14.5"></div>
                    <div class="work-box" time="15"></div>
                    <div class="work-box" time="15.5"></div>
                    <div class="work-box" time="16"></div>
                    <div class="work-box" time="16.5"></div>
                    <div class="work-box" time="17"></div>
                    <div class="work-box" time="17.5"></div>
                    <div class="work-box" time="18"></div>
                    <div class="work-box" time="18.5"></div>
                </div>
                <div class="col works" name="tuesday" date="">
                    <div class="work-box" time="7"></div>
                    <div class="work-box" time="7.5"></div>
                    <div class="work-box" time="8"></div>
                    <div class="work-box" time="8.5"></div>
                    <div class="work-box" time="9"></div>
                    <div class="work-box" time="9.5"></div>
                    <div class="work-box" time="10"></div>
                    <div class="work-box" time="10.5"></div>
                    <div class="work-box" time="11"></div>
                    <div class="work-box" time="11.5"></div>
                    <div class="work-box" time="12"></div>
                    <div class="work-box" time="12.5"></div>
                    <div class="work-box" time="13"></div>
                    <div class="work-box" time="13.5"></div>
                    <div class="work-box" time="14"></div>
                    <div class="work-box" time="14.5"></div>
                    <div class="work-box" time="15"></div>
                    <div class="work-box" time="15.5"></div>
                    <div class="work-box" time="16"></div>
                    <div class="work-box" time="16.5"></div>
                    <div class="work-box" time="17"></div>
                    <div class="work-box" time="17.5"></div>
                    <div class="work-box" time="18"></div>
                    <div class="work-box" time="18.5"></div>
                </div>
                <div class="col works" name="wednesday" date="">
                    <div class="work-box" time="7"></div>
                    <div class="work-box" time="7.5"></div>
                    <div class="work-box" time="8"></div>
                    <div class="work-box" time="8.5"></div>
                    <div class="work-box" time="9"></div>
                    <div class="work-box" time="9.5"></div>
                    <div class="work-box" time="10"></div>
                    <div class="work-box" time="10.5"></div>
                    <div class="work-box" time="11"></div>
                    <div class="work-box" time="11.5"></div>
                    <div class="work-box" time="12"></div>
                    <div class="work-box" time="12.5"></div>
                    <div class="work-box" time="13"></div>
                    <div class="work-box" time="13.5"></div>
                    <div class="work-box" time="14"></div>
                    <div class="work-box" time="14.5"></div>
                    <div class="work-box" time="15"></div>
                    <div class="work-box" time="15.5"></div>
                    <div class="work-box" time="16"></div>
                    <div class="work-box" time="16.5"></div>
                    <div class="work-box" time="17"></div>
                    <div class="work-box" time="17.5"></div>
                    <div class="work-box" time="18"></div>
                    <div class="work-box" time="18.5"></div>
                </div>
                <div class="col works" name="thursday" date="">
                    <div class="work-box" time="7"></div>
                    <div class="work-box" time="7.5"></div>
                    <div class="work-box" time="8"></div>
                    <div class="work-box" time="8.5"></div>
                    <div class="work-box" time="9"></div>
                    <div class="work-box" time="9.5"></div>
                    <div class="work-box" time="10"></div>
                    <div class="work-box" time="10.5"></div>
                    <div class="work-box" time="11"></div>
                    <div class="work-box" time="11.5"></div>
                    <div class="work-box" time="12"></div>
                    <div class="work-box" time="12.5"></div>
                    <div class="work-box" time="13"></div>
                    <div class="work-box" time="13.5"></div>
                    <div class="work-box" time="14"></div>
                    <div class="work-box" time="14.5"></div>
                    <div class="work-box" time="15"></div>
                    <div class="work-box" time="15.5"></div>
                    <div class="work-box" time="16"></div>
                    <div class="work-box" time="16.5"></div>
                    <div class="work-box" time="17"></div>
                    <div class="work-box" time="17.5"></div>
                    <div class="work-box" time="18"></div>
                    <div class="work-box" time="18.5"></div>
                </div>
                <div class="col works" name="friday" date="">
                    <div class="work-box" time="7"></div>
                    <div class="work-box" time="7.5"></div>
                    <div class="work-box" time="8"></div>
                    <div class="work-box" time="8.5"></div>
                    <div class="work-box" time="9"></div>
                    <div class="work-box" time="9.5"></div>
                    <div class="work-box" time="10"></div>
                    <div class="work-box" time="10.5"></div>
                    <div class="work-box" time="11"></div>
                    <div class="work-box" time="11.5"></div>
                    <div class="work-box" time="12"></div>
                    <div class="work-box" time="12.5"></div>
                    <div class="work-box" time="13"></div>
                    <div class="work-box" time="13.5"></div>
                    <div class="work-box" time="14"></div>
                    <div class="work-box" time="14.5"></div>
                    <div class="work-box" time="15"></div>
                    <div class="work-box" time="15.5"></div>
                    <div class="work-box" time="16"></div>
                    <div class="work-box" time="16.5"></div>
                    <div class="work-box" time="17"></div>
                    <div class="work-box" time="17.5"></div>
                    <div class="work-box" time="18"></div>
                    <div class="work-box" time="18.5"></div>
                </div>
                <div class="col works" name="saturday" date="">
                    <div class="work-box" time="7"></div>
                    <div class="work-box" time="7.5"></div>
                    <div class="work-box" time="8"></div>
                    <div class="work-box" time="8.5"></div>
                    <div class="work-box" time="9"></div>
                    <div class="work-box" time="9.5"></div>
                    <div class="work-box" time="10"></div>
                    <div class="work-box" time="10.5"></div>
                    <div class="work-box" time="11"></div>
                    <div class="work-box" time="11.5"></div>
                    <div class="work-box" time="12"></div>
                    <div class="work-box" time="12.5"></div>
                    <div class="work-box" time="13"></div>
                    <div class="work-box" time="13.5"></div>
                    <div class="work-box" time="14"></div>
                    <div class="work-box" time="14.5"></div>
                    <div class="work-box" time="15"></div>
                    <div class="work-box" time="15.5"></div>
                    <div class="work-box" time="16"></div>
                    <div class="work-box" time="16.5"></div>
                    <div class="work-box" time="17"></div>
                    <div class="work-box" time="17.5"></div>
                    <div class="work-box" time="18"></div>
                    <div class="work-box" time="18.5"></div>
                </div>
                <div class="col works" name="sunday" date="">
                    <div class="work-box" time="7"></div>
                    <div class="work-box" time="7.5"></div>
                    <div class="work-box" time="8"></div>
                    <div class="work-box" time="8.5"></div>
                    <div class="work-box" time="9"></div>
                    <div class="work-box" time="9.5"></div>
                    <div class="work-box" time="10"></div>
                    <div class="work-box" time="10.5"></div>
                    <div class="work-box" time="11"></div>
                    <div class="work-box" time="11.5"></div>
                    <div class="work-box" time="12"></div>
                    <div class="work-box" time="12.5"></div>
                    <div class="work-box" time="13"></div>
                    <div class="work-box" time="13.5"></div>
                    <div class="work-box" time="14"></div>
                    <div class="work-box" time="14.5"></div>
                    <div class="work-box" time="15"></div>
                    <div class="work-box" time="15.5"></div>
                    <div class="work-box" time="16"></div>
                    <div class="work-box" time="16.5"></div>
                    <div class="work-box" time="17"></div>
                    <div class="work-box" time="17.5"></div>
                    <div class="work-box" time="18"></div>
                    <div class="work-box" time="18.5"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="make-calendar container"></div>

</div>