<div class="wrapper-content">
    <div class="meeting-container">
        {{#each meetings}}
        <form method="POST" class="form-meeting" action="/meeting/end/{{this.meeting_id}}">
            <input type="hidden" name="meeting_id" value="{{this.meeting_id}}">
            <div class="meeting">
                <div class="meeting-header">
                    <div class="title">
                        <span class="title-course">{{this.coursename}}</span>
                        <span class="title-space">-</span>
                        <span class="title-name">{{getGroupName this.group_id}}</span>
                        <span class="title-space">-</span>
                        <span class="title-topic">{{this.projectname}}</span>
                        <span class="title-serial">#{{getMeetingSerial this.meeting_id}}</span>
                    </div>
                    <div class="header-btn">
                        <button class="btn-out btn-note">
                            <i class="fa-solid fa-xmark"></i>
                        </button>
                    </div>
                </div>
                <div class="meeting-info">
                    <div class="day">
                        <p class="date" starttime="{{this.starttime}}" endtime="{{this.endtime}}"></p>
                    </div>
                    <div class="wrapper-table">
                        <div class="wrap-table">
                            <table class="table">
                                <tr class="table-header">
                                    <th class="cell">Họ và tên</th>
                                    <th class="cell">MSSV</th>
                                </tr>
                                {{#each ../students}}
                                <tr class="table-row">
                                    <td class="cell student-name">{{this.fullname}}</td>
                                    <td class="cell student-id">{{this.student_id}}</td>
                                </tr>
                                {{/each}}
                            </table>
                        </div>
                        <div class="wrap-table">
                            <table class="table">
                                <!-- Header row -->
                                <tr class="table-header">
                                    <th class="cell">Yêu cầu</th>
                                    <th class="cell">Báo cáo</th>
                                </tr>
                                <!-- Content rows -->
                                <tr>
                                    <td class="cell fullrow require-meeting">{{this.require_meeting}}</td>
                                    <td class="cell fullrow report-meeting">
                                        <a class="report-link" href="{{this.report}}">Đường dẫn</a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="meeting-content">
                    <div class="editor">
                        <textarea class="note" name="note" id="" cols="30" rows="10"></textarea>
                    </div>
                </div>
                <div class="meeting-end">
                    <div class="container-select-modal ">
                        <details>
                            <summary>
                                <div class="button btn-end-meeting">Kết thúc</div>
                                <div class="details-modal-overlay"></div>
                            </summary>
                            <div class="details-modal">
                                <div class="details-modal-close">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14"
                                        fill="none">
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                            d="M13.7071 1.70711C14.0976 1.31658 14.0976 0.683417 13.7071 0.292893C13.3166 -0.0976311 12.6834 -0.0976311 12.2929 0.292893L7 5.58579L1.70711 0.292893C1.31658 -0.0976311 0.683417 -0.0976311 0.292893 0.292893C-0.0976311 0.683417 -0.0976311 1.31658 0.292893 1.70711L5.58579 7L0.292893 12.2929C-0.0976311 12.6834 -0.0976311 13.3166 0.292893 13.7071C0.683417 14.0976 1.31658 14.0976 1.70711 13.7071L7 8.41421L12.2929 13.7071C12.6834 14.0976 13.3166 14.0976 13.7071 13.7071C14.0976 13.3166 14.0976 12.6834 13.7071 12.2929L8.41421 7L13.7071 1.70711Z"
                                            fill="black" />
                                    </svg>
                                </div>
                                <div class="details-modal-title">
                                    <h1>Kết thúc cuộc họp</h1>
                                </div>
                                <div class="details-modal-content">
                                    <p>Bạn có thể lựa chọn tạo cuộc họp mới tại đây hoặc kết thúc cuộc họp mà không tạo
                                        mới!</p>
                                    <div class="modal-row">
                                        <button class="button btn-modal btn-add-meeting">Tạo mới</button>
                                        <button class="button btn-modal btn-end">Kết thúc</button>
                                    </div>
                                </div>
                            </div>
                        </details>
                    </div>
                </div>
            </div>
        </form>
        {{/each}}
    </div>
</div>
</div>