<div class="wrapper-content">
    {{#each id}}
    <h1>Thông tin cá nhân</h1>
    <p><strong>Họ và tên:</strong>{{this.fullname}}</p>
    <p><strong>Ngày sinh:</strong> {{this.birthday}}</p>
    <p><strong>Email:</strong> {{this.email}}</p>
    <p><strong>Số điện thoại:</strong> 0{{this.phonenumber}}</p>
    <p><strong>Số điện thoại:</strong> {{this.group_id}}</p>
    <p><strong>Đề tài:</strong> {{this.projectname}}</p>
    <p><strong>Tên học phần:</strong> {{this.coursename}}</p>
    <p><strong>Mã học phần:</strong> {{this.coursecode}}</p>
    {{/each}}
</div>